<div *ngIf="!produtos" class="mb-2">Listando os Produtos...</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mb-2" *ngFor="let p of produtos">
      <a (click)="abrirProduto(p)" style="cursor: pointer;">
        <div class="card">
          <div class="text-center">
            <img class="card-top" style="width:70%; margin-top:5%" src="../../../../../arquivos/{{ p.nomeArquivo }}" />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{p.nome}}</h5>
            <div class="card-text">{{p.descricao | truncate: 40}}</div>
            <h5 class="h5">R$ {{p.preco}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> 

